<header data-bs-theme="dark" class="navbar navbar-expand-lg sticky-top bg-primary-subtle bg-gradient shadow px-5 py-3 text-light">
    <nav class="container-xxl flex-wrap flex-lg-nowrap">
        <a routerLink="/" class="h2 link-warning text-decoration-none fw-bold fst-italic">
            Na co do kina?
        </a>
        <form data-bs-theme="light" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Chcę obejrzeć..." aria-label="Szukaj">
            <button class="btn btn-outline-warning fw-medium" style="--bs-link-hover-color-rgb: 248, 249, 250;" type="submit">
                Szukaj
            </button>
        </form>
    </nav>
</header>