div.rounded-circle {
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    font-family: fantasy !important;
    letter-spacing: 0.03em;
    box-sizing: content-box;
    bottom: -10px;
    left: 5%;
}
div.card {
    cursor: pointer
}