<div class="row column-gap-4">
    <aside class="container col-2 rounded shadow">
        <app-filters />
    </aside>
    <main class="container col">
        <h2>Obecnie w kinach</h2>
        <ul class="list-unstyled row row-gap-3">
            <li 
                class="col-3 p-0 ps-3"
                *ngFor="let movie of moviesList"
            >
                <app-movie-card
                    class="h-100 d-block" 
                    image={{movie.poster_path}}
                    title={{movie.title}} 
                    description={{movie.overview}}
                    releaseDate={{movie.release_date}}
                    movieId={{movie.id}}
                    rating={{movie.vote_average}}
                    (showDetails)="showMovieDetails($event)"
                />
            </li>
        </ul>
        <div aria-hidden="true" style="height: 1px; width: 1px;" #listEnd></div>
    </main>
</div>