<main>
    <div
        class="w-100 container"
        [ngStyle]="{'background-image' : 'url(https://image.tmdb.org/t/p/original'+ this.movieDetails!.backdrop_path +')'}" 
    >
        <div class="col-2">
            <img 
                class="w-100"
                src="https://image.tmdb.org/t/p/original{{this.movieDetails!.poster_path}}" 
                alt="Plakat filmu {{movieDetails!.title}}"
            />
        </div>
        <div class="col">
            <h1>{{ movieDetails!.title }}</h1>
        </div>
    </div>
</main>
