main > div.vw-100 {
    background-position: top center;
    background-repeat: no-repeat;
    background-color: rgb(34, 34, 34);
    left: -5px;
    top: 80px;
    margin-left: -0.75rem;
}
main > div.vw-100 > div.vw-100 {
    backdrop-filter: blur(3px); background-color: rgba(34, 34, 34, 0.8);
}
div.rounded-circle {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-family: fantasy !important;
    letter-spacing: 0.03em;
    box-sizing: content-box;
    bottom: -10px;
    left: 5%;
}